/*
- xterm.css has been pre-created by CI's Python repo template
- This is a custom sylesheet. 
- All code on this sheet is my own. 
*/

.body {
    background-color: black;
}

button {
    width: 200px;
    height: 40px;
    background-color: #E84610;
    border: 1px solid grey;
    color: white;
    text-transform: uppercase;
    margin: 10px;
    border-radius: 8px;
}