/*
- xterm.css has been pre-created by CI's Python repo template
- This is a custom sylesheet. 
- All code on this sheet is my own. 
*/

/*WEB PAGE SETTINGS*/
/*Fonts imported from Google Fonts*/
@import url('https://fonts.googleapis.com/css2?family=Ubuntu&family=VT323&display=swap');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box; 
}

body {
    background-color: black;
    font-family: 'Ubuntu', sans-serif;
}

/*CSS GRID*/
#view-cont {
	display: grid;
	height:  auto;
	grid-gap: 1rem;
	grid-template-columns: repeat(3,1fr);
	grid-template-rows: auto;
	grid-template-areas:
	"nav nav nav"
	"main main main"
	"section section section"
	"footer footer footer";
}  

nav {
    grid-area: nav;
    padding: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
    /* background-color: red; */
}

main {
    grid-area: main;
    /* background-color: orange; */
}

section {
    grid-area: section;
    /* background-color: yellow; */
}

footer{
    grid-area: footer;
    /* background-color: yellowgreen; */
}

h1, h2, h3, h3 {
    font-family: 'VT323', monospace;
}

#game-name {
    color: #f5f5f5;
    text-align: center;
    font-size: 50px;
}




#game-name > span:nth-child(1) {
    color: #ff6600;
}

#game-name > span:nth-child(3) {
    color: #ffcc00;
}

#game-name > span:nth-child(2) {
    color: #03b7b7;
}



#terminal {
	display: flex;
    justify-content: center; 
    margin: auto;
}

.btn-cont {
    display: flex;
    justify-content: center 
}

button {
    width: 300px;
    height: 60px;
    background-color: transparent;
    color: #f5f5f5;
    margin: 10px;
    border-radius: 50px;
    border: 3px solid #f5f5f5;
    padding: 10px;
}

button:hover {
   box-shadow: 0 5px 5px 0px #ffcc00;
   border: 3px solid #ffcc00;
   color: #ffcc00;
}

.game-pad {
    text-align: center;
}

.game-pad > i {
    font-size: 45px;
    /* color: rgb(240, 255, 255); */
    padding: 5px;
    text-align: center;
}

.game-pad > i:nth-child(11) {
    color: #ffcc00;
}

.game-pad > i:nth-child(10) {
    color: #ff6600;
}

.game-pad > i:nth-child(9) {
    color: #9900cc;
}

.game-pad > i:nth-child(8) {
    color: #03b7b7;
}

.game-pad > i:nth-child(7) {
    color: #f5f5f5;
}

.game-pad > i:nth-child(6) {
    color: #ffcc00;
}

.game-pad > i:nth-child(5) {
    color: #ff6600;
}

.game-pad > i:nth-child(4) {
    color: #9900cc;
}

.game-pad > i:nth-child(3) {
    color: #03b7b7;
}

.game-pad > i:nth-child(2) {
    color: #f5f5f5;
}

.game-pad > i:nth-child(1) {
    color: #ffcc00;
}






/*MEDIA QUERIES*/

@media only screen and (max-width: 320px) {

    #view-cont {
        display: grid;
        height: auto;
        grid-gap: 1rem;
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        grid-template-areas:
        "nav"
        "main"
        "section"
        "footer";
    } 

    #terminal {
       display: block;
       width: 320px;                                
    }

}


@media screen and (max-width: 768px) and (min-width: 321px) {

    #view-cont {
        display: grid;
        height:  auto;
        grid-gap: 1rem;
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        grid-template-areas:
        "nav"
        "main"
        "section"
        "footer";
    } 

}
